<ion-view view-title="Beneficios Submenu">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>Back
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap" ng-click="goDetailPage()">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Belleza <button class="button button-small button-calm buttonRightStyle" ng-click="goMore()">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Educacion <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Entertenimiento <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Esparcimiento <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Estudios <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Hoteles <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Restaurantes <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Salud <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Otros beneficios <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
