
<ion-view view-title="beneficiousSubCategory">
  <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <ion-buttons>
      <button class="button button-icon icon ion-navicon-round" style="color: #00428a;"></button>
    </ion-buttons>
  </ion-nav-buttons>
  <ion-content>
    <ion-list >
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap" ng-click="goBeneficiousCouponsPage()">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Belleza.........</h2>
        <!-- <button class="button button-small button-calm buttonRightStyle" ng-click="goMore()">More</button> -->
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Educacion</h2>
        <!-- <button class="button button-small button-calm buttonRightStyle">More</button> -->
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Entertenimiento</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Esparcimiento </h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Estudios </h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Hoteles </h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Restaurantes </h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Salud </h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Otros beneficios </h2>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
