
<ion-view view-title="Beneficios Submenu..">
  <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div>
        <img src="img/formulario_1.png" class="coupenImgStyle">
   </div>
   <div class="formularioDivStyle"></div>
    <ion-list ng-repeat="cat in categories">
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap" ng-click="goBeneficiousSubCategoryPage(cat._id)">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">{{cat.category}}</h2>
      </ion-item>


    </ion-list>
  </ion-content>

</ion-view>
