<ion-view view-title="Beneficios Detail Page">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>Back
    </button>
  </ion-nav-buttons>
  <ion-content>

  <div style="text-align:center;padding-top: 25px;font-size: 15px;font-weight: 600;">This is Title for detail about category.</div>
  <div style="text-align:center;font-size: 13px;font-weight: 400;">This is Title for detail about category.</div>

    <div style="border: 1px solid black;margin: 20px;">
    <div class="row" style="padding-top: 0px;">
      <div class="col col-5"></div>
      <div class="col col-90">
        <div class="row">
        <div class="col col-45">
          <button class="button button-dark" style="border-radius: 15px;height: 100%;width: 100%;">
          Button-dark
          </button>
        </div>
        <div class="col col-10"></div>
        <div class="col col-45">
          <img src="img/sample.png" style="height: 100%;width: 100%;">
        </div>
      </div>
      </div>
      <div class="col col-5">
      </div>
    </div>
  </div>

  <div style="padding-left: 20px;font-size: 15px;font-weight: 600;">Title for this</div>
  <div style="padding-left: 20px;font-size: 13px;font-weight: 400;">This is Description for detail about category.</div>


  </ion-content>
</ion-view>
