





<ion-view view-title="Convenios SubCategory">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>

    <ion-list  ng-repeat="subCat in subCategories">
      <div>

          <div class="imageOverlay" ng-click="goBeneficiousCouponsPage(subCat._id)">
            <img ng-src="http://banistmo-backend.herokuapp.com/{{subCat.image}}" class="firstImageStyle" style="height: 145px;" ng-show="!!subCat.image" onError="this.src='img/beneficos.jpg'">
            <img src="img/beneficos.jpg" class="firstImageStyle" style="height: 111px;" ng-hide="!!subCat.image">
            <div  style="position: absolute;bottom: 45%;left: 0;width: 100%;text-align: center;">
              <span  style="color: white;font-size: 25px !important;letter-spacing: -1px;font-weight: bold;">
                {{subCat.name}}
              </span>
            </div>
          </div>
    </div>
    </ion-list>

  </ion-content>
</ion-view>
