<ion-view view-title="Beneficios Detail Page">
  <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content  style="border-bottom: 2px solid #00428a;">
  <div class="coupenHeaderStyle fontHeaderColor" style="height: 39px;">Detail Page Title</div>

  <div class="fontHeaderColor" style="text-align:center;padding-top: 25px;font-size: 15px;font-weight: 600;">This is Title for detail about category.</div>
  <div style="text-align:center;font-size: 13px;font-weight: 400;">This is Title for detail about category.</div>

    <div style="border: 1px solid black;">
      <!-- margin: 20px; -->
    <div class="row" style="padding-top: 0px;">
      <div class="col col-5"></div>
      <div class="col col-90">
        <div class="row">
        <div class="col col-45">
          <button class="button button-dark" style="border-radius: 15px;height: 100%;width: 100%;">
          <!-- Button-dark -->
          </button>
        </div>
        <div class="col col-10"></div>
        <div class="col col-45">
          <img src="img/sample.png" style="height: 100%;width: 100%;">
        </div>
      </div>
      </div>
      <div class="col col-5">
      </div>
    </div>

  </div>
   <div class="formularioDivStyle" style="margin-top: 0px; height: 28px;"></div>

  <!-- <div style="padding-left: 20px;font-size: 15px;font-weight: 600;">Title for this</div>
  <div style="padding-left: 20px;font-size: 13px;font-weight: 400;">This is Description for detail about category.</div> -->

  <h3 style="padding-left: 15px;">This is for demo project</h3>
   <div class="formularioParaStyle" style="color: black;">By default, side menus are hidden underneath their side menu content and can be opened by swiping the content left or right or by toggling a button to show the side menu. Additionally, by adding the exposeAsideWhen attribute directive to an ionSideMenu element directive, </div>

  </ion-content>
</ion-view>
