
<ion-view view-title="Convenios">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div>
        <img src="img/beneficos.jpg" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
        <div class="imageDivStyle" style="padding: 14px;top: -53px;height: 49px;">
          <span class="imageTextStyle">
          Convenios</span>
        </div>
      </div>


   <div class="formularioDivStyle bottomBorder" style="margin-top: -52px;"></div>
   <!-- <p style="padding-left: 13px;font-weight: bolder;padding: 11px;">La calidate Vida de nuestros es primordial. Como parte del portiafolio en products y servicios, que te permita tener una vida saludable, te invitamos a conocer y disfrutar de los convenios que tenemos para ti. Recuerda qua para obtener todos los beneficios de ios convenios debes presentar carnet de colaborador.</p> -->
    <ion-list ng-repeat="cat in categories">

    <div style="padding-top: 22px;">
            <div class="imageOverlay" ng-click="goBeneficiousSubCategoryPage(cat._id)">
              <img src="img/beneficos.jpg" class="firstImageStyle" style="height: 111px;" ng-hide="!!cat.image">
              <img ng-src="http://banistmo-backend.herokuapp.com/{{cat.image}}" class="firstImageStyle" style="height: 111px;" ng-show="!!cat.image" onError="this.src='img/beneficos.jpg'">
              <div  style="position: absolute;bottom: 45%;left: 0;width: 100%;text-align: center;">
                <span  style="color: white;font-size: 25px !important;letter-spacing: -1px;font-weight: bold;">
                  {{cat.category}}
                </span>
              </div>
            </div>
    </div>

    </ion-list>


  </ion-content>

</ion-view>
