
<ion-view view-title="beneficiousCoupons">
  <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div  ng-repeat="coupens in coupensList" ng-click="goDetailPage(coupens)">
        <div class="coupenHeaderStyle">{{coupens.title}} </div>
        <div  style="border-bottom: 3px solid;">
            <!-- <img src="img/coupen_1.png" class="coupenImgStyle"> -->
            <img src="img/coupen_1.png" class="coupenImgStyle" ng-hide="!!coupens.image">
            <img ng-src="http://banistmo-backend.herokuapp.com/{{coupens.image}}" class="coupenImgStyle" ng-show="!!coupens.image">
            <!-- <img ng-src="http://banistmo-backend.herokuapp.com/{{coupens.image}}" class="coupenImgStyle" ng-hide="!!coupens.image"> -->
       </div>
       <div class="coupenImageFontStyle"></div>
       <!-- <div class="coupenImageFontStyle">demo</div> -->

    </div>
    <!-- <div ng-click="goDetailPage()">
        <div class="coupenHeaderStyle">Rossana Tabares </div>
        <div  style="border-bottom: 3px solid;">
            <img src="img/coupen_2.png" class="coupenImgStyle">
       </div>
       <div class="coupenImageFontStyle">demo
        </div>

    </div>

    <div ng-click="goDetailPage()">
        <div class="coupenHeaderStyle">Rossana Tabares </div>
        <div  style="border-bottom: 3px solid;">
            <img src="img/coupen_1.png" class="coupenImgStyle">
       </div>
       <div class="coupenImageFontStyle">demo
        </div>

    </div> -->


  </ion-content>

</ion-view>
