
<ion-view view-title="Convenios">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div>
        <img src="img/beneficos.jpg" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
        <div  style="position: relative;left: 0;width: 100%;top: -29px;left: 12px;">
          <span  style="color: white;font-size: 15px;letter-spacing: -1px;background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.3);font-size: 20px;">
          Convenios</span>
        </div>
      </div>

   </div>
   <div class="formularioDivStyle bottomBorder" style="margin-top: -28px;"></div>
   <p style="padding-left: 13px;font-weight: bolder;padding: 11px;">I'm not exactly sure how cordova works, but once the licenses are accepted it creates a file. You could create that file manually. It is described on this question, but here's the commands to create the required license file.</p>
    <ion-list ng-repeat="cat in categories">
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" style="border-bottom: 1px solid #00428a;" type="item-text-wrap" ng-click="goBeneficiousSubCategoryPage(cat._id)">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader fontColorStyle">{{cat.category}}</h2>
      </ion-item> -->
      <!-- <div> -->

      <div class="row" style="padding-top: 10px;">
        <!-- <div class="col col-100"> -->
          <div class="imageOverlay" ng-click="goBeneficiousSubCategoryPage(cat._id)">
            <img src="img/adam.jpg" class="firstImageStyle" style="height: 111px;">
            <div  style="position: absolute;bottom: 45%;left: 0;width: 100%;text-align: center;">
              <span  style="color: white;font-size: 15px;letter-spacing: -1px;background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.1);font-size: 20px;">
              {{cat.category}}</span>
            </div>
          </div>

    </div>
    </ion-list>

  </ion-content>




</ion-view>
