
<ion-view view-title="beneficiousSubCategory">
  <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list >
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" ng-repeat="subCat in subCategories" type="item-text-wrap" ng-click="goBeneficiousCouponsPage(subCat._id)">
        <img src="img/ionic.png" class="imgStyle" >
        <!-- ng-hide="!!subCat.name" -->
        <h2 class="beneficioSubMenuHeader" ng-if="!!subCat.name">{{subCat.name}}</h2>
      </ion-item>
      

    </ion-list>
  </ion-content>

</ion-view>
