<ion-view view-title="Contactos Detail Page">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content  style="border-bottom: 2px solid #00428a;">
    <div>
        <div class="coupenHeaderStyle">Contactos page Title</div>
        <div>
            <img src="img/formulario_1.png" class="coupenImgStyle">
       </div>
   </div>
   <div class="formularioDivStyle"></div>


  <h3 style="padding-left: 15px;font-size: 15px;font-weight: 600;color: #00428a;font-size: 19px !important;">This is for demo project</h3>
   <div class="formularioParaStyle" style="color: black;">By default, side menus are hidden underneath their side menu content and can be opened by swiping the content left or right or by toggling a button to show the side menu. Additionally, by adding the exposeAsideWhen attribute directive to an ionSideMenu element directive, </div>

  </ion-content>
</ion-view>
