<ion-view view-title="Formacion">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item backButtonClr"  ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div>
        <img src="img/entrenamiento-crop.jpg" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
        <div  style="position: relative;left: 0;width: 100%;top: -42px;background-color: #ffffff;opacity: 0.6;height: 37px;padding: 8px;">
          <span  style="color: #00428a;font-size: 15px;letter-spacing: -1px;font-size: 20px;font-weight: 600;">
          Entrenamiento</span>
        </div>
      </div>

    <!-- <div>
        <img src="img/entrenamiento-crop.jpg" class="coupenImgStyle bottomBorder imgHeight">
        <div class="imageDivStyle" style="top: -41px;">
          <span style="color: #00428a;font-size: 15px;letter-spacing: -1px;font-size: 20px;font-weight: 600;">
          Entrenamiento</span>
        </div>
      </div> -->
      <div>
        <p class="induccionParaStyle" style="font-weight: 500;">
          Mejorar el conocimlento y las competencias de tu equipo de trabajo es un proceso continuo.<br/><br/>Gestion de lo humano quiere darte las herramientas en los procesos de formacion de tu personal.<br/><br/>
          Conoce  mas sobre las oportunidades de formacion y entrenamiento. Te invitamos a participar en el desarrollo de tu equipo.
        </p>
      </div>
      <ion-item class="item-remove-animate item-avatar induccionBorder"  type="item-text-wrap" ng-click="goCoursePage()">
        <img src="img/write-board.png" class="imgStyle">
        <div class="row rowStyle">
          <div class="col col-75">
            <h3>Curso 1</h3>
          </div>
          <div class="col alignRightDiv"></div>
        </div>
      </ion-item>
  </ion-content>

</ion-view>



<!-- <ion-view view-title="Formacion">
  <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item backButtonClr"  ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div>
        <img src="img/induccion.png" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
        <div class="imageDivStyle">
          <span class="imageTextStyle">
          Induccion</span>
        </div>
      </div>
      <div>
        <p class="induccionParaStyle">
          Mejorar el conocimlento y las competencias de tu equipo de trabajo es un proceso continuo.<br/><br/>Gestion de lo humano quiere darte las herramientas en los procesos de formacion de tu personal.<br/><br/>
          Conoce  mas sobre las oportunidades de formacion y entrenamiento. Te invitamos a participar en el desarrollo de tu equipo.
        </p>
      </div>
      <ion-item class="item-remove-animate item-avatar induccionBorder"  type="item-text-wrap" ng-click="goCoursePage()">
        <img src="img/ionic.png" class="imgStyle">
        <div class="row rowStyle">
          <div class="col col-75">
            <h3>Curso 1</h3>
          </div>
          <div class="col alignRightDiv"></div>
        </div>
      </ion-item>
  </ion-content>

</ion-view> -->
