<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Forgot Password</h1>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="closeForgotPassword()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="spacer"></div>
    <div class="spacer"></div><br/>
    <div class="padding-horizontal semi-bold grey">
      If you forgot your passord, we can help you reset it. Please enter your email address.
    </div>
    <form ng-submit="vm.resetPassword(vm.user.email)">
      <div class="list list-inset">
        <label class="item item-input item-floating-label" style="border-radius:5px">
          <span class="input-label ion-email icon-left">&nbsp;&nbsp; Email</span>
          <input type="text" required ng-model="email" placeholder="Email">
        </label>
      </div>
    <div class="padding-horizontal">
      <button class="button button-block button-calm" type="submit" ng-click="resetPassword()">
        <b class="semi-bold">Send Email</b>
      </button>
    </div>
   </form>
  </ion-content>
</ion-modal-view>
