<ion-view view-title="Beneficios Submenu">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>Back
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar"  type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle">
        <div class="row rowStyle" >
          <div class="col col-75">
            <h3>Induccion</h3>
          </div>
          <div class="col alignRightDiv"><button class="button button-small button-calm buttonRightStyle">More</button></div>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar"  type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle">
        <div class="row rowStyle" >
          <div class="col col-75">
            <h3>Dinamicas</h3>
          </div>
          <div class="col alignRightDiv"><button class="button button-small button-calm buttonRightStyle">More</button></div>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar"  type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle">
        <div class="row rowStyle" >
          <div class="col col-75">
            <h3>Formularios de solicitud de capacitacion</h3>
          </div>
          <div class="col alignRightDiv"><button class="button button-small button-calm buttonRightStyle">More</button></div>
        </div>
      </ion-item>
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap" ng-click="goDetailPage()">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Induccion <button class="button button-small button-calm buttonRightStyle" ng-click="goMore()">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Dinamicas <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader">Formularios de solicitud de capacitacion <button class="button button-small button-calm buttonRightStyle">More</button></h2>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar"  type="item-text-wrap">
        <img src="img/ionic.png" class="imgStyle">
        <div class="row rowStyle" >
          <div class="col col-75">
            <h3>Formularios de solicitud de capacitacion</h3>
          </div>
          <div class="col alignRightDiv"><button class="button button-small button-calm buttonRightStyle">More</button></div>
        </div>
      </ion-item> -->

    </ion-list>
  </ion-content>
</ion-view>
