
<ion-view view-title="GHContigo">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div>
        <img src="img/GHContigo-crop.png" class="coupenImgStyle" style="height: 245px !important;border-bottom: none;">
    </div>

    <div style="padding-left: 4%;padding-right: 4%;">
      <!-- <a class="button icon-left ion-ios7-telephone button-calm button-outline" a href="tel: 8007744">8007744</a> -->
         <center>
           <button class="button button-block button-energized icon-left ion-ios-telephone" style="font-size: 15px;font-weight: 800;color: #00428a;" ng-click="CallNumber()">8007744</button>

       </center>
    </div>
  
    <p style="padding: 20px;">Queremos estar contigo en todos los momentos en que nos necesites.puedes contar con nosotros para acompanarte siempre que requieras nuestro apoyo.<br/><br/>por esto hemos creado GH Contigo Casos.</p>

  </ion-content>

</ion-view>
