
<ion-view view-title="GHContigo">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div>
        <img src="img/iconoghcontigo.png" class="coupenImgStyle" style="height: 245px !important;border-bottom: none;">
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" type="item-text-wrap">
        <img src="img/telephone.jpg" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader" style="height: 32px;font-weight: 700;padding-top: 12px;">Telefono</h2>
      </ion-item>
    </ion-list>
    <p style="padding: 20px;">Queremos estar contigo en todos los momentos en que nos necesites.puedes contar con nosotros para acompanarte siempre que requieras nuestro apoyo.<br/><br/>por esto hemos creado GH Contigo Casos.</p>

  </ion-content>

</ion-view>
