<ion-view view-title="Formacion VideoList">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>

    <ion-item class="item-remove-animate item-avatar induccionBorder presentationItemStyle vdoStyle"  type="item-text-wrap">
      <div class="row">
        <!-- <video class='videoPlayer' preload='metadata' vg-poster='data.poster'>
        	<source ng-src='https://www.youtube.com/watch?v=PCwL3-hkKrg' type='video'>
        </video> -->
        <iframe  height="345" src="https://www.youtube.com/embed/XGSy3_Czz8k" style="width: 100%;"></iframe>
        <!-- <iframe class="youtube-player" type="text/html" width="100%" height="245px" ng-src="https://www.youtube.com/watch?v=PCwL3-hkKrg" frameborder="0" allowfullscreen></iframe> -->
        <!-- <video width="400" controls>
          <source src="http://www.bigbuckbunny.org/mov_bbb.mp4" type="video/mp4">
          <source src="mov_bbb.ogg" type="video/ogg">
          Your browser does not support HTML5 video.
        </video> -->

      </div>
    </ion-item>
    <ion-item class="item-remove-animate item-avatar induccionBorder presentationItemStyle"  type="item-text-wrap">
      <div class="row rowStyle">
        <div class="col col-75">
          <h3>Video 2</h3>
        </div>
        <div class="col alignRightDiv"></div>
      </div>
    </ion-item>
    <ion-item class="item-remove-animate item-avatar induccionBorder presentationItemStyle"  type="item-text-wrap">
      <div class="row rowStyle">
        <div class="col col-75">
          <h3>Video 3</h3>
        </div>
        <div class="col alignRightDiv"></div>
      </div>
    </ion-item>

  </ion-content>
</ion-view>
