<ion-view view-title="Formacion Presentation">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-item class="item-remove-animate item-avatar induccionBorder presentationItemStyle"  type="item-text-wrap">
      <!-- <img src="img/ionic.png" class="imgStyle"> -->
      <div class="row rowStyle">
        <div class="col col-75">
          <h3>Presentation 1</h3>
        </div>
        <div class="col alignRightDiv"></div>
      </div>
    </ion-item>
    <ion-item class="item-remove-animate item-avatar induccionBorder presentationItemStyle"  type="item-text-wrap">
      <!-- <img src="img/ionic.png" class="imgStyle"> -->
      <div class="row rowStyle">
        <div class="col col-75">
          <h3>Presentation 2</h3>
        </div>
        <div class="col alignRightDiv"></div>
      </div>
    </ion-item>
    <ion-item class="item-remove-animate item-avatar induccionBorder presentationItemStyle"  type="item-text-wrap">
      <!-- <img src="img/ionic.png" class="imgStyle"> -->
      <div class="row rowStyle">
        <div class="col col-75">
          <h3>Presentation 3</h3>
        </div>
        <div class="col alignRightDiv"></div>
      </div>
    </ion-item>

  </ion-content>
</ion-view>
