<ion-view>
  <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <!-- class="pane" id="homecontent"  -->
    <div>
        <div class="coupenHeaderStyle">Induccion</div>
        <div>
            <img src="img/induccion.jpg" class="coupenImgStyle">
       </div>
   </div>
   <div class="formularioDivStyle"></div>
  </ion-content>

</ion-view>
