<ion-view title="Login" hide-nav-bar="true">
	<ion-content overflow-scroll="true" scroll="false">
		<div class="login">

		<!-- <div class="spacer" style="width: 300px; height: 23px;"></div> -->

		<div class="row" style="padding-top: 200px;">

			<div class="col col-10"></div>
			<div class="row col col-80">
				<div class="row">
					<div class="col col-100" style="text-align: center;">
						<img src="img/icono-login.png" style="height: 120px;">
					</div>
			</div>
			<div class="row">
				<div class="col col-100" style="text-align: center;">
				<span style="color:#12a7dd;font-size: 21px;font-weight: 600;">Member Login</span>
				</div>
		</div>
				<form class="list">


					<label class="item item-input" >
						<i class="icon ion-person placeholder-icon" style="color: #12a7dd;"></i>
						<input type="text" ng-model="employId" placeholder="Username" required>
					</label><br/>
					<label class="item item-input">
							<i class="icon ion-ios-locked placeholder-icon" style="color: #12a7dd;"></i>
							<input type="password" ng-model="password" placeholder="Password">
					</label>
					<div class="row">
							<ion-checkbox style="padding-left: 50px;font-size: 11px;margin-left: -16px;background-color: #ccecfc;border: none;width: 65%;color: #12a7dd;">Remember me</ion-checkbox>
							<div class="col" style="padding-top: 13px;font-size: 11px;text-align: right;color: #12a7dd;" ng-click="forgotPassword()">Forgot Password?</div>
					</div>
					<div class="row">
						<div class="col col-25"></div>
						<div class="col col-50">
						 <button class="button  button-block" style="background-color: #12a7dd;" ng-click="Login()">Login</button>
					 </div>
					 <div class="col col-25"></div>
					</div>
				</form>

					</div>
				<div class="col col-10"></div>
			</div>
			</div>
			</ion-content>
			<script  type="text/ng-template">
				<div class="error" ng-message="required">
					<i class="ion-information-circled"></i>
       This field is required!
				</div>
			</script>
		</ion-view>
