<ion-view title="Login" hide-nav-bar="true">
	<ion-content overflow-scroll="true" padding="true" scroll="false" >
		<form class="list"></form>
		<ion-list></ion-list>
		<h1 style="text-align: center;margin-top: -5px;">Login</h1>
		<div class="spacer" style="width: 300px; height: 23px;"></div>
		<form class="list">
			<label class="item item-input" >
				<input type="text" ng-model="employId" placeholder="Employment ID" required>
				</label>
				<label class="item item-input">
					<input type="password" ng-model="password" placeholder="Password">
					</label>
				</form>
				<button class="button button-calm  button-block icon-left ion-log-in" ng-click="Login()">Login</button>
				<div  style="color:#FCFCFF;text-align:center;">
					<p>
						<button class="button" ng-click="forgotPassword()">Forgot your password?</button>
					</p>
				</div>
			</ion-content>
			<script  type="text/ng-template">
				<div class="error" ng-message="required">
					<i class="ion-information-circled"></i>
       This field is required!
				</div>
			</script>
		</ion-view>
