<ion-view view-title="Main Menu" hide-nav-bar="true">
  <ion-content>
    <h1 style="text-align: center;margin-top: 0px;background-color: lightgrey;">Main Menu</h1>
    <div class="list list-inset">
    <div class="item menuTextStyle" ng-click="goBeneficiosSubMenu()">
      Beneficios
    </div><br/>

    <div class="item menuTextStyle" ng-click="goFormacionSubmenu()">
      Formacion y entrenamiento
    </div><br/>

    <div class="item menuTextStyle">
      Formularios
    </div><br/>

    <div class="item menuTextStyle">
      Vacantes internas
    </div><br/>

    <div class="item menuTextStyle">
      Contactos
    </div><br/>

    <div class="item menuTextStyle">
      Noticias
    </div><br/>

    <div class="item menuTextStyle">
      Alertas
    </div><br/>

    <div class="item menuTextStyle">
      Calendario
    </div><br/>

    <div class="item menuTextStyle">
      Clima
    </div><br/>

    <div class="item menuTextStyle">
      Cuenta
    </div><br/>


</div>
  </ion-content>
</ion-view>
