<ion-view view-title="Nominacion Individual">
    <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" style="color: #00428a;" ng-click="goBack()">
            <i class="icon ion-arrow-left-b"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button back-button buttons button-clear header-item" style="color: #00428a;" ng-click="gomenuPage()">
            <i class="icon ion-navicon-round"></i>
        </button>
    </ion-nav-buttons>

    <ion-content >
      <div>

        <div style="padding-top: 7%;">
          <div style="font-size: 12px;font-weight: 700;padding: 20px;"> Escoger Categoria</div>
          <div style="color: #00428a; font-size: 12px;font-weight: 700;padding: 20px;padding-top: 4px;"  ng-click="goNominacionSelectPage()"> Liderazgo destacable</div>

        </div>
        <div style="text-align:center;padding-top: 50%;">
        <div style="color: #00428a; font-size: 17px;font-weight: 600;padding-left: 15px;">Su nomicion ha sido</div><br/>
        <div style="color: #00428a; font-size: 17px;font-weight: 600;padding-left: 15px;">envida exitosamente</div>
      </div>
      </div>

    </ion-content>

</ion-view>
