<ion-view view-title="Nominacion Individual">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item backButtonClr"  ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div style="font-size: 15px;font-weight: 700;padding-top: 13%;padding-left: 6%;padding-bottom: 11px;">Escoger Categoria</div>
    <div style="color: #00428a; font-size: 14px;font-weight: 600;padding-left: 6%;padding: 17px;background-color: #c0e3ec;margin-left: 3%;margin-right: 3%;" ng-click="goNominacionSelect()">Liderazgo destacable</div><br/>
    <div style="color: #00428a; font-size: 14px;font-weight: 600;padding-left: 6%;padding: 17px;background-color: #c0e3ec;margin-left: 3%;margin-right: 3%;" ng-click="goNominacionSelect()">Trabajo Colaborativo</div><br/>
    <div style="color: #00428a; font-size: 14px;font-weight: 600;padding-left: 6%;padding: 17px;background-color: #c0e3ec;margin-left: 3%;margin-right: 3%;" ng-click="goNominacionSelect()">Personas comprometidas con la Banca mas Humana</div><br/>
    <div style="color: #00428a; font-size: 14px;font-weight: 600;padding-left: 6%;padding: 17px;background-color: #c0e3ec;margin-left: 3%;margin-right: 3%;" ng-click="goNominacionSelect()">Innovacion y proyectos que transforman</div><br/>
    <div style="color: #00428a; font-size: 14px;font-weight: 600;padding-left: 6%;padding: 17px;background-color: #c0e3ec;margin-left: 3%;margin-right: 3%;" ng-click="goNominacionSelect()">Tiempo de servicio</div><br/>

    <div>
         <!-- <center>
           <button class="button button-stable icon-left ion-plus-round" ng-click="goNominacionSelectPage()">Agregar a tu nominado</button>
       </center> -->
    </div>

  </ion-content>

</ion-view>
