<ion-view view-title="Nominacion Individual">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item backButtonClr"  ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div style="font-size: 12px;font-weight: 700;padding-top: 13%;padding-left: 6%;padding-bottom: 11px;">Escoger Categoria</div>
    <div style="color: #00428a; font-size: 12px;font-weight: 600;padding-left: 6%;padding: 17px;" ng-click="goNominacionSelectPage()">Liderazgo destacable</div>
    <div style="color: #00428a; font-size: 12px;font-weight: 600;padding-left: 6%;padding: 17px;" ng-click="goNominacionSelectPage()">Trabajo Colaborativo</div>
    <div style="color: #00428a; font-size: 12px;font-weight: 600;padding-left: 6%;padding: 17px;" ng-click="goNominacionSelectPage()">Personas comprometidas con la Banca mas Humana</div>
    <div style="color: #00428a; font-size: 12px;font-weight: 600;padding-left: 6%;padding: 17px;" ng-click="goNominacionSelectPage()">Innovacion y proyectos que transforman</div>
    <div style="color: #00428a; font-size: 12px;font-weight: 600;padding-left: 6%;padding: 17px;" ng-click="goNominacionSelectPage()">Tiempo de servicio</div>

      <!-- <div style="padding-top: 7%;">
          <ul class="list">
            <li class="item" style="font-size: initial;font-weight: 700;">Escoger Categoria</li>
            <li class="item" style="color: #00428a; font-size: initial;font-weight: 700;" ng-click="goNominacionSelectPage()"> Liderazgo destacable</li>
            <li class="item" style="color: #00428a; font-size: initial;font-weight: 700;" ng-click="goNominacionSelectPage()"> Inspiradores de Servicio</li>
            <li class="item" style="color: #00428a; font-size: initial;font-weight: 700;" ng-click="goNominacionSelectPage()"> Trabajo Colaborativo</li>
            <li class="item" style="color: #00428a; font-size: initial;font-weight: 700;" ng-click="goNominacionSelectPage()"> Personas comprometidas con la Banca mas Humana</li>
            <li class="item" style="color: #00428a; font-size: initial;font-weight: 700;" ng-click="goNominacionSelectPage()"> Innovacion y proyectos que transforman</li>
            <li class="item" style="color: #00428a; font-size: initial;font-weight: 700;" ng-click="goNominacionSelectPage()"> Tiempo de servicio</li>

          </ul>
      </div> -->

  </ion-content>

</ion-view>
