<ion-view view-title="Nominacion Individual">
    <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" style="color: #00428a;" ng-click="goBack()">
            <i class="icon ion-arrow-left-b"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button back-button buttons button-clear header-item" style="color: #00428a;" ng-click="gomenuPage()">
            <i class="icon ion-navicon-round"></i>
        </button>
    </ion-nav-buttons>

    <ion-content >
      <div>

        <div style="padding-top: 7%;">
          <!-- <div style="font-size: 15px;font-weight: 700;padding: 20px;"> Escoger Categoria</div>
          <div style="color: #00428a; font-size: 14px;font-weight: 700;padding-left: 22px;height: 40px;padding-top: 10px;background: mistyrose;"> Liderazgo destacable</div> -->

          <!-- <div style="font-size: 15px;font-weight: 700;padding-top: 13%;padding-left: 6%;padding-bottom: 11px;">Seleccionar o agregar tu Nominado</div> -->
          <div style="color: #00428a; font-size: 14px;font-weight: 600;padding-left: 6%;padding: 17px;background-color: #c0e3ec;margin-left: 3%;margin-right: 3%;" ng-click="goNominacionSelect()">Liderazgo destacable</div><br/>
        </div>
        <div style="padding-left: 26px;font-weight: bolder;padding-top: 25px;">CARRERA ESPINOSA, MIGUEL ANGEL</div>
        <div style="text-align:center;padding-top: 30%;">
        <div style="color: #00428a; font-size: 17px;font-weight: 600;padding-left: 15px;">Su nomicion ha sido</div><br/>
        <div style="color: #00428a; font-size: 17px;font-weight: 600;padding-left: 15px;">enviada exitosamente</div>
      </div>
      </div>

    </ion-content>

</ion-view>
