<ion-view view-title="Nominacion Individual">
    <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" style="color: #00428a;" ng-click="goBack()">
            <i class="icon ion-arrow-left-b"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button back-button buttons button-clear header-item" style="color: #00428a;" ng-click="gomenuPage()">
            <i class="icon ion-navicon-round"></i>
        </button>
    </ion-nav-buttons>

    <ion-content style="border-bottom: 2px solid #00428a;">
      <div>
        <div style="padding-top: 7%;">
          <div style="font-size: 12px;font-weight: 700;padding: 20px;"> Escoger Categoria</div>
          <div style="color: #00428a; font-size: 12px;font-weight: 700;padding-left: 22px;height: 40px;padding-top: 10px;background: mistyrose;"> Liderazgo destacable</div>

        </div>


     <div style="padding: 10%;">
       <div style="font-size: 15px;font-weight: 600;padding-bottom: 10px;color: slateblue;">CARRERA ESPINOSA, MIGUEL ANGEL</div>
       <label class="item item-input">
         <textarea rows="5" style="border: 1px solid;"></textarea>
       </label>
     </div><br/>

        <div style="margin-top: -37px;">
             <center>
               <button class="button button-light" ng-click="goNominacionVotarCompletePage()" style="margin-top: 31px;color: #00428a;font-size: 18px; min-height: 1px;width: 36%;border: #a2a2a2;">
               VOTAR
             </button>
           </center>
        </div><br/>
      </div>

    </ion-content>

</ion-view>
