<ion-view view-title="Nominacion Individual">
    <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" style="color: #00428a;" ng-click="goBack()">
            <i class="icon ion-arrow-left-b"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button back-button buttons button-clear header-item" style="color: #00428a;" ng-click="gomenuPage()">
            <i class="icon ion-navicon-round"></i>
        </button>
    </ion-nav-buttons>

    <ion-content style="border-bottom: 2px solid #00428a;">
      <div>
        <div style="padding-top: 7%;">
          <!-- <div style="font-size: 15px;font-weight: 700;padding: 20px;"> Escoger Categoria</div>
          <div style="color: #00428a; font-size: 14px;font-weight: 700;padding-left: 22px;height: 40px;padding-top: 10px;background: mistyrose;"> Liderazgo destacable</div> -->

          <div style="font-size: 15px;font-weight: 700;padding-top: 13%;padding-left: 6%;padding-bottom: 11px;">Agregar tu Nominado</div>
          <div style="color: #00428a; font-size: 14px;font-weight: 600;padding-left: 6%;padding: 17px;background-color: #c0e3ec;margin-left: 3%;margin-right: 3%;" ng-click="goNominacionSelect()">Liderazgo destacable</div><br/>
        </div>

        <div class="list" style="padding-top: 12px;">
          <div class="item item-input-inset" style="border: none;">
            <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text">
            </label>
          <a class="button button-icon icon ion-ios-close-empty"></a>
          </div>
     </div>

     <div>
       <div class="list" data-ng-init="names=[{name:'(seleccionar todos los resultados de)'}, {name : 'ACEVEDO, MIGUEL ANGEL'}, {name : 'ARIAS GONZALEZ, JESUS MIGUEL'}, {name : '  ATHANASIADIS, MIGUEL'}]">
           <div class="item item-checkbox"  ng-repeat="x in names | filter: searchtname" style="border: none;font-weight: bolder;">
               {{ x.name }}
               <label class="checkbox">
                   <input type="checkbox">
               </label>
           </div>
       </div>
     </div>

     <div style="padding: 10%;">
       <div style="font-size: 15px;font-weight: 600;padding-bottom: 10px;">Motivo de la nominacion</div>
       <label class="item item-input" style="border: none;">
         <textarea rows="5" style="border: 1px solid;"></textarea>
       </label>
     </div><br/>


        <div style="margin-top: -37px;padding-left: 3%;padding-right: 3%;">
          <button style="margin:0;color:#000f9f;font-weight: 700;"  class="button button-energized  button-block" ng-click="goCompletePage()">
              NOMINAR
          </button>
        </div><br/>
      </div>



    </ion-content>

</ion-view>
