
<ion-view view-title="NOTICIAS">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right categoryleft" ng-repeat="data in noticiasData" ng-click="goNoticiasDetailPage(data)" style="border-bottom: 1px solid #00428a;" type="item-text-wrap" >
        <img ng-src="http://banistmo-backend.herokuapp.com/{{data.image}}" class="imgStyle" >
        <h2 class="beneficioSubMenuHeader fontColorStyle" style="height: 32px;">{{data.title}}</h2>
        <!-- <div>{{data.content}}</div> -->
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
