<ion-view view-title="Noticias">
  <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="fontHeaderColor" style="background-color: #ffdd00;border-bottom: 2px solid #00428a;">
    <div>
    <div>
        <div class="coupenHeaderStyle">Noticias y avisos</div>
        <div>
            <img src="img/noticias_1.png" class="coupenImgStyle bottomBorder" style="border-bottom: none;">
       </div>
   </div>
   <div class="formularioDivStyle"></div>
 </div>
 <ion-list >
   <ion-item class="item-remove-animate item-avatar item-icon-left categoryleft" type="item-text-wrap" ng-repeat="media in circulars">
     <i class="icon ion-android-attach" ng-if="media.documentType === 'application/pdf'"></i>
     <div ng-if="media.documentType === 'application/pdf'" ng-click="view_pdf('https://docs.google.com/viewer?url=https://banistmo-backend.herokuapp.com/'+media.path)" style="padding-top: 9px;"> {{media.title}}</div>
   </ion-item><br/>

   <!-- <ion-item class="item-remove-animate item-avatar item-icon-left categoryleft" type="item-text-wrap">
     <i class="icon ion-android-attach"></i>
     <h2 class="beneficioSubMenuHeader" style="padding-top: 9px;">2 present..pdf</h2>
   </ion-item> -->


 </ion-list>

  </ion-content>
</ion-view>
