<ion-view view-title="Reconocimiento">
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="fontHeaderColor">

    <!-- <div>
        <img src="img/Reconocimirnto-home-crop.jpg" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
        <div  style="position: relative;left: 0;width: 100%;top: -42px;background-color: #ffffff;opacity: 0.6;height: 37px;padding: 8px;">
          <span  style="color: #00428a;font-size: 15px;letter-spacing: -1px;font-size: 20px;">
          Reconocimiento</span>
        </div>
    </div> -->

    <div>
        <img src="img/Reconocimirnto-home-crop.jpg" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
        <div  style="position: relative;left: 0;width: 100%;top: -42px;background-color: #ffffff;opacity: 0.6;height: 37px;padding: 8px;">
          <span  style="color: #00428a;font-size: 15px;letter-spacing: -1px;font-size: 20px;font-weight: 600;">
          Reconocimiento</span>
        </div>
      </div>

   <div class="formularioDivStyle" style="margin-top: -42px;height: 13px;"></div>
   <!-- <div>
     <label class="item item-input">
       <textarea rows="9" placeholder="Write something then scroll the view while the textarea is focued"></textarea>
     </label>
   </div><br/> -->
   <div>

   <ion-scroll style="height: 28vh !important;" class="scroll_content">
     <div style="color: black;padding: 20px;font-weight: 500;">
       ¿Qué es el Programa de Reconocimiento Excelencia Banistmo? El Programa de Reconocimiento Excelencia Banistmo resalta el compromiso, entrega y esfuerzo de los colaboradores a través de un plan diseñado para felicitar públicamente a los mismos.
        ¿Cómo reconozco a alguien? Contaremos con categorías individuales y grupales para el Programa de Reconocimiento Excelencia Banistmo:<br/>

        Categorías individuales:<br/>

        •Liderazgo destacable:  Aquella persona que por sus cualidades y características profesionales sean modelos a seguir por varias personas.<br/>

        •Inspiradores de Servicio:  Aquel colaborador que se destaca por ayudar al otro de forma desinteresada y superando expectativas.  A su vez, que da seguimiento por si en el camino se necesita nuevamente su apoyo.<br/>

        •Trabajo colaborativo:  Aquel colaborador que hace parte de equipos interdepartamentales, que a través de su ejecución y trabajo logra que el proyecto surja de forma exitosa y que es reconocido por sus compañeros.<br/>

        •Personas comprometidas con la Banca más Humana:  Aquellas personas que demuestren a través de la suma de sus participaciones en actividades del Banco, que tienen la camiseta puesta todo el tiempo.<br/>

        •Innovación y proyectos que transforman:  Aquellos colaboradores que generen ideas de cambio y las lleven a cabo, sea que funcionen o no, pero que durante su ejecución se lograron mejoras.<br/>

        Categorías grupales: <br/>

        Equipo Comercial / Equipo de Soporte:<br/>

        •Logro de Metas:  Aquellos colaboradores que han logrado y superado las metas comerciales.<br/>

        •Inspiradores de Servicio:  Aquellos colaboradores que han recibido agradecimientos y felicitaciones tanto de sus compañeros como de clientes.<br/>

        •Logros Estratégicos:  Aquellos colaboradores que logran la estrategia trazada.<br/>
</div>
   </ion-scroll>
 </div>

   <!-- <div>
        <center>
          <button class="button button-dark" ng-click="goDetailPage()" style="font-size: 13px; min-height: 1px;width: 36%;background-color: #a2a2a2;border: #a2a2a2;">
          Nominar
        </button>
      </center>
   </div> -->


   <!-- <div class="bar bar-footer bar-light">
      <div class="title" ng-click="goDetailPage()">Nominar</div>
  </div> -->
</ion-list><br/>

<!-- <div class="padding"> -->
    <button style="margin:0;min-height: 1px;color:#000f9f;font-weight: 700;"  class="button button-energized  button-block" ng-click="goDetailPage()">
        Nominar
    </button>
<!-- </div> -->

   <!-- <div>
        <center>
          <button class="button button-dark" ng-click="goDetailPage()" style="font-size: 13px; min-height: 1px;width: 36%;background-color: #00428a;border: #a2a2a2;">
          Nominar
        </button>
      </center>
   </div> -->
</ion-content>
</ion-view>
