<ion-view view-title="Nominaciones">
  <!-- <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>Back
    </button>
  </ion-nav-buttons> -->
  <!-- <ion-nav-title>
    <img class="headerImgStyle" src="img/logo.png">
  </ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item backButtonClr" ng-click="gomenuPage()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <ion-buttons>
      <button class="button button-icon icon ion-navicon-round backButtonClr" ng-click="gomenuPage()"></button>
    </ion-buttons>
  </ion-nav-buttons>
  <ion-content>
    <div ng-click="goInduccionPage()">
        <img src="img/reconoc individual-crop.jpg" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
        <div  style="position: relative;left: 0;width: 100%;top: -42px;background-color: #ffffff;opacity: 0.6;height: 37px;padding: 8px;">
          <span  style="color: #00428a;font-size: 15px;letter-spacing: -1px;font-size: 20px;font-weight: 600;">
          Nominacion Individual</span>
        </div>
      </div>

      <div>
          <img src="img/reconoc grupal-crop.jpg" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
          <div  style="position: relative;left: 0;width: 100%;top: -42px;background-color: #ffffff;opacity: 0.6;height: 37px;padding: 8px;">
            <span  style="color: #00428a;font-size: 15px;letter-spacing: -1px;font-size: 20px;font-weight: 600;">
            Nominacion Grupal</span>
          </div>
        </div>



   <!-- <div ng-click="goInduccionPage()">
       <img src="img/reconoc individual-crop.jpg" class="coupenImgStyle bottomBorder" style="height: 245px !important;">
       <div class="imageDivStyle" style="top: -41px;">
         <span  class="imageTextStyle">
         Nominacion Individual</span>

       </div>
     </div> -->

     <!-- <div>
         <img src="img/reconoc grupal-crop.jpg" class="coupenImgStyle bottomBorder formacionEntertenmentoImgStyle">
         <div class="imageDivStyle" style="top: -41px;">
           <span  class="imageTextStyle">
           Nominacion Grupal</span>
         </div>
       </div> -->

  </ion-content>
</ion-view>
