<ion-view view-title="Vacantes">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

 <ion-list>
   <ion-item class="item" style="border:none;color:#00428a;" type="item-text-wrap">
     <h2 style="font-weight: 600;color:#00428a;">Jefe || Seguridad Fisica</h2>
     <div style="font-size: 12px;">del 1  al  10 de diciembre posicion del 1 2 3 4 5 6 7 8</div>
     <div style="font-size: 12px;">Banistmo , panama</div>
   </ion-item>
 </ion-list>

 <ion-list scroll="true">

   <ion-item class="item-remove-animate item-avatar item-icon-left categoryleft"  type="item-text-wrap">
     <img src="img/attachment-icon.png" class="imgStyle" >
    <div ng-click="view_pdf('https://docs.google.com/viewer?url=https://banistmo-backend.herokuapp.com/'+media.path)" style="padding-top: 9px;font-weight: 700;"> info Posicion.pdf</div>
   </ion-item>
   <!-- <ion-item class="item-remove-animate item-avatar item-icon-left categoryleft" type="item-text-wrap">
     <i class="icon ion-android-attach"></i>
     <div ng-click="view_pdf('https://docs.google.com/viewer?url=https://banistmo-backend.herokuapp.com/'+media.path)" style="padding-top: 9px;font-weight: 700;"> info Posicion.pdf</div>
   </ion-item><br/> -->

   <!-- <ion-item class="item-remove-animate item-avatar item-icon-left categoryleft" type="item-text-wrap" ng-repeat="media in circulars">
     <i class="icon ion-android-attach" ng-if="media.documentType === 'application/pdf'"></i>
     <div ng-if="media.documentType === 'application/pdf'" ng-click="view_pdf('https://docs.google.com/viewer?url=https://banistmo-backend.herokuapp.com/'+media.path)" style="padding-top: 9px;"> {{media.title}}</div>
   </ion-item><br/> -->

 </ion-list>


  </ion-content>

</ion-view>
