<ion-view view-title="iAyudanos a reclutar">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="card">
      <P style="padding: 8px;">Si conoces a alguin interesado en trabajar en Banistmo o personal externo con talento para aportar al crecimiento de nuestra organizacion, comparte la siguiente direccion para que ellos puedan incluirse en nuestra base de datos y aplicar.</P>
      <a style="padding: 8px;color:black;text-decoration: underline;">www.banistmoempleos.konzerta.com</a>
      <div style="height: 13px;"></div>

   </div>
  </ion-content>

</ion-view>
