<ion-view view-title="Lineamientos para aplicar ">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button back-button buttons button-clear header-item"  style="color: #00428a;" ng-click="gomenuPage()">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="card">
      <div style="font-weight: 700;padding: 8px;">ANTES DE APLICAR DEBES SABER QUE</div>
      <P style="padding: 8px;">Es importante que, a la hora de applicar a las vacantes internas, revises los lineamientos y requisotos que conlleva la misma. De esta forma podras asegurar que cuentas con el perfil y tendras mayor posibilidad de ser elegible para la oportunidad laboral.<br/>Algunos aspectos que debes recordar a la hora de aplicar son los siguientes :</P>
      <div style=" padding: 10%;padding-top: 0px;">- Debes contar con un minimo de 1 ano a 18 meses en la posicion actual para ser elegible.</div>
      <div style=" padding: 10%;padding-top: 0px;">- Solo se puede aplicar a una vacante a la vez</div>
      <div style="padding-top: 0px;padding-left: 10%;padding-right: 10%;">- Al momento de aplicar debes copiar a tu jefe directo.</div>
      <div style="padding: 8px;">Una vez hayas revisado los lineamientos</div>
   </div>
  </ion-content>

</ion-view>
